

<!-- el menú no me gustó... vero luego

lo que iba a poner en el menú (luego ver si pongo menu o no)

lo pongo en el menu card

falta ngIf para mostrar u ocultar o un display x volver a juegos-->
<div class="container ">
    
      <button class="btn btn-warning btn-md" routerLink="/Principal"> Volver al inicio</button>
  <!-- ocultar el boton en la pantalla juegos -->
      <button id="botonVolverJuegos" class="btn btn-danger btn-md " routerLink="/Juegos"> Volver a Juegos</button>
    

</div>


<div class="container text-center ">

    <h1 class="display-4 font-italic text-center"><strong>Sala de Juegos 2019</strong></h1>
  
 </div>




<!--div>
    <button routerLink="/Principal">Principal</button>
    <button (click)="Juego('Adivina')">Adivina</button>
    <button (click)="Juego('Agilidad')">Agilidad</button>
    <button (click)="Juego('AdivinaMasListado')">Adivina+listado</button>
    <button (click)="Juego('AgilidadaMasListado')">Agilidad+listado</button>  
    <button routerLink="/error">Error</button>
  
</div-->

<!--nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/Principal">Inicio</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/Juegos">Juegos</a></li>
        <li><a data-toggle="tooltip" title="Hooray!" (click)="Juego('Adivina')">Adivina</a></li>
        <li><a  (click)="Juego('Agilidad')">Agilidad</a></li>
        <li><a  (click)="Juego('AdivinaMasListado')">Adivina+listado</a></li>
        <li><a  (click)="Juego('AgilidadaMasListado')">Agilidad+listado</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Mis Datos</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
        </ul>
    </div>
  </nav-->     
   