<!-- 

  limpiar css

 -->

   <div class="blog-post">
      <h2 class="blog-post-title"><i>Ariel</i></h2>
   </div>
  <div class="container-fluid">
    
    <div class="container">

      <img class="img-fluid img-thumbnail img-responsive"src="../../../assets/imagenes/yo.jpg" alt="Ariel.jpg">
    </div>
      <div class="p-4 mb-3 rounded">
          <h4 class="font-italic">Sobre mí</h4>
          <p class="mb-0">Un poco mayor de edad, aprendiendo a vivir y a transformarme a mí mismo en algo útil sobre todo para mí mismo. Tratando de ser parte de la buena gente cuando corresponda. Vegano sensocentrista, aprendiz de tecnologías 'modernas'. Frustrado en un montón de disciplinas; a todo el mundo le pasa.</p>
        </div>
    </div>
