

<div class="blog-post">
    <h1 class=""><i>Programación</i></h1>
 </div>
<div class="container-fluid">
  
  <div class="container">

    <img class="img-fluid img-thumbnail img-responsive"src="../../../assets/imagenes/programacion.jpg" alt="Ariel.jpg">
  </div>
    <div class="p-4 mb-3 rounded blog-post-title">      
        <p class="mb-0"> Los sistemas siguen transformándose en más eficientes gracias a la posibilidad de aplicar tecnologías sobre ellos. La programación es el nexo entre un sistema previo y uno optimizado por la aplicación de tecnologías modernas.</p>
      </div>
  </div>


