<!-- no se ven los glyphicon, no hacen falta... 
          <a routerLink="/Registro" class="p-2 text-white" href="#"><span class="glyphicon glyphicon-user"></span>Ingresar</a>
-->   
   
<div class="container">
  <div class="jumbotron p-4 p-md-5 text-white rounded panel">
    <h1 class="display-4 font-italic text-center">Sala de Juegos 2019</h1>
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-center">
          <a routerLink="/Registro" class="p-2 text-white" >Ingresar</a>
          <a routerLink="/Login" class="p-2 text-white" >Nuevo Usuario</a>
        </nav>
      </div>       
  </div> 
</div>