
 <div class="blog-post">
    <h1 class=""><i>Universidad Tecnológica Nacional</i></h1>
 </div>
<div class="container-fluid">
  
  <div class="container">

    <img class="img-fluid img-thumbnail img-responsive"src="../../../assets/imagenes/utnenruinas.jpg" alt="Ariel.jpg">
  </div>
    <div class="p-4 mb-3 rounded blog-post-title">        
        <p class="mb-0">La UTN es un fantasma real, siempre estuvo ahí, siempre ha estado. Siempre estará. Formó prfesionales desde antes de la Conquista, y las profecías apuntan a que estará luego del Juicio Final. Es un espejismo de los Dioses que valida la posibilidad real de que estemos realmente acá.</p>
      </div>
  </div>



